/ HTML5 ftw
!!!
%html
  %head
    / Responsiveness
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    / CSS
    %link{ href: "#{path}/app.css", rel: "stylesheet" }

    / Tracking, para información you know
    :script
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30444592-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body
    / Navbar
    .navbar.navbar-fixed-top
      .navbar-inner
        .container.nav-collapse 
          %a.brand{ href: "#"} IOL para Humanos
          %a.pull-right.backtoiol{ href: "javascript:IOL.reload();" } Volver a IOL
    / Main container
    .container#main
      %section
        .row
          .span4.profileView.loading
          .span8.subjectView.loading

    / Modal para noticias
    .modal.fade#newsModal
      .modal-header
        .close{ data-dissmiss:"modal" }
        %h3.modal-title
      .modal-body
      .modal-footer
        %a.btn.btn-primary{ href: "#" } Cerrar
