%h2 Mi Perfil

%hr.soft

%h6 Mis cosas
%ul.linklist
  %li
    %a{ href:"#/mi_analitico/" } Mi Analítico
  %li
    %a{ href:"#/mis_docentes/" } Mis Docentes
  %li
    %a{ href:"#/mis_companieros/" } Mis Compañeros

%h6 Links
%ul.linklist
  %li
    %a{ href:"#/mi_analitico/" } Software Microsoft
  %li
    %a{ href:"#/mis_docentes/" } Inscripción a Finales
  %li
    %a{ href:"#/mis_companieros/" } Scientific American